UI menu.c32
default textmode
timeout 50
menu title i586con, the tiny RAM-based linux
label textmode
menu label Linux to RAM, textmode
      kernel /boot/bzImage
      initrd /boot/ram.img
      append root=LABEL=I586CON mediafstype=iso9660

label vesa
menu label Linux to RAM, VESA at 1024x768-16
      kernel /boot/bzImage
      initrd /boot/ram.img
      append root=LABEL=I586CON mediafstype=iso9660 vga=0x317

label textmode-lowram
menu label Run from CD, textmode
      kernel /boot/bzImage
      initrd /boot/cd.img
      append root=LABEL=I586CON mediafstype=iso9660

label vesa-lowram
menu label Run from CD, VESA at 1024x768-16
      kernel /boot/bzImage
      initrd /boot/cd.img
      append root=LABEL=I586CON mediafstype=iso9660 vga=0x317

label textmode-initramfs
menu label BIOS to RAM, textmode
      kernel /boot/bzImage
      initrd /img/rootfs.img
      append rootfstype=ramfs

label vesa-initramfs
menu label BIOS to RAM, VESA at 1024x768-16
      kernel /boot/bzImage
      initrd /img/rootfs.img
      append rootfstype=ramfs vga=0x317

label grubfloppy
menu label GRUB2 (Memdisk floppy image)
      kernel /isolinux/memdisk
      initrd /boot/grubflop.bin

label poweroff-entry
menu label Poweroff
      kernel /isolinux/poweroff.c32
